/* UNIVERSAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

section {
    padding-top: 126px;
    max-width: 1200px;
    margin: 0 auto;
}

/* FONTS */

h1 {
    font-size: 31.5px;
    margin-bottom: 9px;
}

h2 {
    font-size: 27px;
    letter-spacing: 1px;
    margin-bottom: 27px;
    margin-left: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 22.5px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

/* FONTS - MOBILE */

@media only screen and (max-width: 768px) {
    
    h1 {
        font-size: 22.5px;
    }

    h2 {
        font-size: 18px;
    }

}

/* HEADER */

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 90px;
    text-transform: uppercase;
    z-index: 10;
}

.logo {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 90px;
    padding-left: 27px;
}

.bold {
    font-weight: bold;
    letter-spacing: 2px;
}

.light {
    font-weight: lighter;
    letter-spacing: 1px;
}

.navigation ul {
    float: right;
}

.navigation ul li {
    display: inline-block;
    line-height: 90px;
    padding-right: 27px;
}

.navigation ul a {
    color: #fff;
}

.navigation ul a:hover {
    cursor: pointer;
}

.menu-button,
.close-button {
    display: none;
}

/* HEADER - MOBILE */

@media only screen and (max-width: 1080px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation ul {
        position: fixed;
        background-color: #222;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 20;
        transition: .75s;
    }

    .navigation ul.active {
        top: 0;
    }

    .navigation ul li {
        line-height: 72px;
        padding: 0;
    }

    .menu-button {
        display: block;
        color: #fff;
        padding-right: 27px;
    }

    .menu-button.active {
        display: none;
    }

    .close-button.active {
        display: block;
        color: #fff;
        position: absolute;
        top: 27px;
        right: 27px;
        z-index: 20;
    }

}

@media only screen and (max-width: 768px) {
    
    .logo {
        font-size: 27px;
    }

    .menu-button,
    .close-button {
        font-size: 13.5px;
    }

}

@media only screen and (max-width: 375px) {
    
    .light {
        display: none;
    }

}

/* BANNER */

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.banner-box.current {
    opacity: 1;
}

.banner-box .banner-description {
    position: absolute;
    bottom: 72px;
    left: -450px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 27px;
    opacity: 0;
}

.banner-box.current .banner-description {
    opacity: 1;
    transform: translateX(450px);
    transition: all 0.7s ease-in-out 0.3s;
}

.banner-box .banner-description p {
    font-size: 18px;
}

.banner-box:first-child {
    background-image: url('../images/the-broad.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-box:nth-child(2) {
    background-image: url('../images/oslo-opera-house.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-box:nth-child(3) {
    background-image: url('../images/maat-museum.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-box:nth-child(4) {
    background-image: url('../images/the-oculus.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-box:nth-child(5) {
    background-image: url('../images/rock-and-roll.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.arrows button {
    border: none;
    background-color: transparent;
    color: #222;
    cursor: pointer;
    outline: none;
}

.arrows button:hover {
    color: #fff;
}

.arrows button#next {
    position: absolute;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
}

.arrows button#prev {
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);
}

/* BANNER - MOBILE */

@media only screen and (max-width: 768px) {

    .banner-box .banner-description {
        bottom: -300px;
        left: 0;
        width: 100%;
        padding: 22.5px;
    }

    .banner-box.current .banner-description {
        transform: translateY(-300px);
    }

}

/* ABOUT */

.about-container {
    padding: 9px 18px;
}

/* TEAM */

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 9px;
}

.team-box {
    display: flex;
    align-items: flex-end;
    border: 9px solid #fff;
    height: 504px;
    text-align: center;
}

.team-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    padding: 18px 9px;
}

#principal-architect {
    background-image: url("../images/principal-architect.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#project-architect {
    background-image: url("../images/project-architect.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#interior-designer {
    background-image: url("../images/interior-designer.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#architectural-designer {
    background-image: url("../images/architectural-designer.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* TEAM - MOBILE */

@media only screen and (max-width: 1080px) {

    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 540px) {

    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* WORKS */
 /*
.work-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
}

.work-box {
    display: flex;
    border: 9px solid #fff;
    width: 300px;
    height: 400px;
}

.work-description {
    display: flex;
    background-color: rgba(65, 65, 65, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s visibility .5s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.work-box:hover .work-description {
    opacity: 1;
    cursor: pointer;
}

.work-description p {
    font-size: 13.5px;
}

#club-2100 {
    background-image: url("../images/2100-club.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#swiss-museum {
    background-image: url("../images/swiss-national-museum.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#square-tower {
    background-image: url("../images/constitution-square.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#le-stella {
    background-image: url("../images/le-stella.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#la-tourette {
    background-image: url("../images/sainte-marie-de-la-tourette.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

#shanghai-baoye {
    background-image: url("../images/shanghai-baoye-center.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
} */

/* WORK - MOBILE */

/* @media only screen and (max-width: 500px) {
    
    .work-description h3 {
        font-size: 18px;
    }

    .work-description {
        background-color: rgba(65, 65, 65, 0.4);
        opacity: 1;
    }

} */

/* CONTACT */

/* #contact {
    padding: 100px 0 100px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
}

.contact-box {
    display: flex;
    border: 9px solid #fff;
    width: 300px;
    height: 600px;
    flex-direction: column;
}

.contact-information {
    display: flex;
    background-color: rgba(65, 65, 65, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s ease;
}

.contact-information h3,
.contact-information p {
    padding-bottom: 9px;
}

#white-background {
    background-color: #fff;
    flex-grow: 1;
}

#interior-office {
    background-image: url("../images/interior-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

.contact-information:hover {
    opacity: 0;
}

input[type=text], select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4.5px;
    margin-top: 9px;
    margin-bottom: 18px;
    resize: vertical;
}

textarea {
    height: 221px;
}
  
input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    background-color: #98c1d9;
    color: #000;
    padding: 9px 27px;
    border: none;
    border-radius: 4.5px;
    cursor: pointer;
    font-size: 13.5px;
    transition: 0.75s ease;
}
  
input[type=submit]:hover {
    background-color: #3d5a80;
    color: #fff;
} */

/* CONTACT - MOBILE */

/* @media only screen and (min-width: 635px) and (max-width: 900px) {
    
    #principal-architect,
    #project-architect {
        background-position: center;
    }

}

@media only screen and (max-width: 500px) {
    
    .contact-information h3 {
        font-size: 18px;
    }
    
    .contact-information p,
    label {
        font-size: 13.5px;
    }

} */

/* FOOTER */

/* footer {
    background-color: rgba(65, 65, 65, 0.7);
    color: #fff;
    padding: 24px;
    text-align: center;
}

footer p {
    font-size: 13.5px;
} */